<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                Transaction Management System
            </ion-card-subtitle>
        </ion-card-header>
    </ion-card>

    <ion-button (click)="startScanner()">Scan</ion-button>
    <ion-button (click)="closeQr()">Back</ion-button>
    <div class="show-qr-scanner qr transparent-zone"></div>

</ion-content>
